@model IEnumerable<BankingManagementSystem.Models.TransactionDetail>

@{
    ViewData["Title"] = "Account Details";
    Layout = "_DashboardLayout";
}


<h1 class="text-center">Account Details</h1>

<div class="bg-white text-dark" style="top:30%; position:absolute; width:50%; height:15%; left:30%">
<table class="table table-bordered" style="width:100%; height:100%; position:relative; border: 3px solid black">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToAccountNumber)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebitCredit)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToAccountNumber)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DebitCredit)
            </td>
           
        </tr>
}
    </tbody>
</table>
</div>
