@model IEnumerable<BankingManagementSystem.Models.CustomerAcc>

@{
    ViewData["Title"] = "AccountSummary";
    Layout = "_DashboardLayout";
}

<h1 class = "text-center" >AccountSummary</h1>

<div class="bg-white text-dark" style="top:50%; position:absolute; width:80%; height:15%;margin-left: 220px">
<table class="table table-bordered" style="width:100%; height:100%; position:relative">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalBalance)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalBalance)
            </td>


        </tr>
}
    </tbody>
</table>
</div>