@model IEnumerable<BankingManagementSystem.Models.StatementVM>

@{
	ViewData["Title"] = "Statements";
	Layout = "_DashboardLayout";
	//List<CustomerAcc> customerAccs = Model;
}

<h1 class="text-center">Satements</h1>




<div class="" style="text-align:right;">
	<form asp-action="Statements" method="post">

		<div class="form-group">
			<label>  Statement From:</label>
			<input type="text" id="From" name="From">
		</div>


		<div class="form-group">
			<label>  To:</label>
			<input type="text" id="To" name="To">

		</div>

		<input class="btn btn-primary" type="submit" value="search" />

	</form>
</div>


@if (Model != null)
{
	<div class="bg-white text-dark" style="top:30%; position:absolute; width:50%; height:50%; left:25%">
		<table class="table table-bordered" style="width:100%; height:100%; position:relative; border: 3px solid black">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.transactionDetail.AccountNumber)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.customer.FirstName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.transactionDetail.TransactionType)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.customerAcc.TotalBalance)
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.transactionDetail.AccountNumber)
						</td>

						<td>
							@Html.DisplayFor(modelItem => item.customer.FirstName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.transactionDetail.TransactionType)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.customerAcc.TotalBalance)
						</td>


					</tr>
				}
			</tbody>
		</table>
	</div>
}
