@model IEnumerable<BankingManagementSystem.Models.RegisterNetBanking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passwordd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionPassword)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.Passwordd)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.TransactionPassword)
            </td>
            
        </tr>
}
    </tbody>
</table>
